{% include "header.html" %}

<section class="about mb-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-10 text-center">
                <h2 class="mb-3">About me</h2>
                <p class="pb-3">I'm a self-taught Python developer, electrical designer and a cat lover. I enjoy
                    building web
                    applications,
                    automating repetitive tasks, analyzing data and cooperating with AI. I enjoy doing sports in any
                    form and
                    I do
                    love a
                    good cup of coffee!</p>
                <img src="{{ url_for('static', filename='assets/img/workplace.png') }}"
                     alt="photo of me and cats working together" class="workplace_img">
            </div>
        </div>
    </div>
</section>

<section class="projects mb-4">
    <div class="container ">
        <h2 class="mb-4 text-center">Projects</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for project in projects: %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-image-container">
                        <img src="{{ url_for('static', filename='assets/img/' + project.image) }}"
                             alt="project screenshot" class="card-img">
                        <a href="{{ project.github_link }}" target="_blank">
                            🔗 View on GitHub
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="mb-3 mt-2 project-title">{{ project.name }}</h4>
                        <p class="card-text ">{{project.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-5">
            <a href="https://github.com/NugyTomas" class="see-projects">
                See all projects
                <span>→</span>
            </a>
        </div>
    </div>

</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>